.header {
    border-radius: 18px;
    box-shadow: 0 7px 20px 0 #0000002E;
    backdrop-filter: blur(10px);
    background: #ffffff;
    left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 14px 18px;
    height: 70px;
    display: flex;
    align-items: center;
    z-index: 6;
}

.header-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.header-logo {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    background: #FFCC00;
    display: grid;
    place-items: center;
    font-weight: bold;
    color: #111;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header-link {
    font-size: 14px;
    color: #111111;
    text-decoration: none;
}

.main {
    padding: 111px 40px 40px;
    position: relative;
    display: flex;
}

.main-info {
    max-width: 840px;
    width: 100%;
    position: relative;
}

.main-title {
    margin-top: 98px;
    font-weight: 500;
    font-size: 200px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #111111;
    left: -15px;
    position: relative;
}

.main-title span {
    color: #FFCC00;
}

.main-features {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-feature {
    background: #111111;
    color: #ffffff;
    padding: 12px 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    border-radius: 10px;
}

.main-description {
    margin-top: 50px;
    max-width: 500px;
    font-size: 20px;
    line-height: 1.1;
    color: #111111;
}

.main-actions {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-actions .button {
    height: 80px;
    width: 433px;
    font-size: 18px;
    font-weight: bold;
    place-items: center;
    display: grid;
}

.main-title-ghost {
    position: absolute;
    z-index: -1;
    left: -70px;
    bottom: -150px;
    font-weight: 500;
    font-size: 278px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #ECEDF04D;
}

.main-image {
    width: 1024px;
    top: 100px;
    z-index: -2;
}

.main-image img {
    width: 100%;
    max-width: 1024px;
    height: auto;
    display: block;
}